.navbar{
    height: 75px;
    background-color: #FFF !important;
    box-shadow: 0px -5px 10px;
    direction: rtl;
}

.logo-section{
    margin: 0 5px 0 5px;
    
}

.logo-link{
    margin-right: 5px;
    padding: 2px;
}

.search-section{
    position:relative;
}
.icon-absolute{
position: absolute;
 top: 20%;
 left: 5%;   
}
.form-control{
    box-shadow: 0 2px 5pt -0.5pt    #d3d3d3;
    border: 1px solid #DDD;
    border-radius: 10px;
    padding: 15px;
}

/* mat Option direction */
.condicates-container{
    position: relative;
}

.condicates-container ul{
    position: absolute;
    width: 100%;
}
.condicates-container ul li {
    width: 95%;
    background: #f9f9f9;
    direction: rtl;
    border: none;
    opacity: .9;
    z-index: 100;
}
.list-group-item :hover {
    
    background: #f2f2f2 !important;
    cursor: pointer !important;
    font-size: 50px;
}