/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
@import 'https://fonts.googleapis.com/css2?family=Tajawal:wght@200;400&display=swap' ;


body{
    direction: rtl;
    word-spacing: 3px;
    font-weight: 600;
    /* font-family: system-ui; */
    font-family: 'Tajawal', sans-serif;

}
/* html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; } */
